/* default css, assuming they are on a monitor */
html{
    width: 100%;
      height: auto;
    
}
body{
    width: 100%;
    height: auto;
    background-color: #142e14;
    font: serif;
    
}


h1, h2, h3{
    /*use google fonts for all the headings */
    font-family: 'Cuprum';font-size: relative;
    text-shadow: 2px 2px #00ff00;
}

#wrap{
    background-color: white;
    width: flex;
    margin-right: 5%;
    margin-left: 5%;
    text-align: left;
    
    
}
img{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

section{
    float: left;
    width: 75%;
      margin-right: 0;
    margin-left: 0;
}
section img{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

aside{
    width: 25%;
    float: right;
      margin-right: 0;
    margin-left: 0;
    
     float: right;

    
}

footer{
    clear: both;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


nav li{
    float:left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



nav  li:hover{
    background-color: lightgreen;
    transform: rotate(-1deg);
}

nav li:hover a {
    color:  darkgreen;
}





/*phone styles*/






@media screen and (max-width:600px){
    
    
    
    
#wrap{
    background-color: white;
    width: 90%;
    
    
}
img{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

section{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
section img{
    display: none;
}

aside{
    width: 100%;
    float: right;
      margin-right: 0;
    margin-left: 0;
    
     float: left;

    
}

footer{
    clear: both;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


nav li{
    float:none;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



nav  li:hover{
    background-color: lightgreen;
    transform: rotate(-1deg);
}

nav li:hover a {
    color:  darkgreen;
}


    
}